<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Form producto</title>
</head>
<body>
<h1> FORM PRODUCTO</h1>
	<form data-th-action="@{/producto/procesar}" data-th-object="${producto}" method="POST">
		<p>
			Nombre: <input type="text" data-th-field="*{nombre}" />
			<span data-th-if="${#fields.hasErrors('nombre')}" data-th-errors="*{nombre}" style="color: red;"></span>
		</p>
		
		<p>
			Descripcion: <input type="text" data-th-field="*{descripcion}" />
			<span data-th-if="${#fields.hasErrors('descripcion')}" data-th-errors="*{descripcion}" style="color: red;"></span>
		</p>
		
			Categoria:
		<select data-th-field="*{categoria}">
			<option data-th-each="categoria : ${categorias}" 
					data-th-value="${categoria.id}" 
					data-th-text="${categoria.nombre}" />
		</select>
				
		<input type="hidden" data-th-field="*{id}" />
		<button type="submit">Guardar</button>
	</form>
</body>
</html>