<!DOCTYPE html>
<html>
<head data-th-replace="parts/head :: cabecera(~{::title}, _)">
<meta charset="UTF-8">
<title>Listado productos</title>
</head>
<body class="body-light">
<main class="container">
<h1 class="border-bottom pb-2 mb-0" align="center"> Productos</h1>
<div class="my-3 p-3 bg-body rounded shadow-sm">
	<div class="row">
		<div class="col-4" data-th-each="producto : ${productos}">
			<div class="card">
			  <img data-th-src="${producto.dirImagen}" class="card-img-top" height="300">
			  <div class="card-body">
			    <h5 class="card-title" data-th-text="${producto.nombre}"></h5>
			    <p class="card-text" data-th-text="${producto.descripcion}"></p>
			    <a class="btn btn-primary" data-th-href="@{/producto/editar/{id}(id=${producto.id})}">Editar</a>
			    <a class="btn btn-primary" data-th-href="@{/producto/eliminar/{id}(id=${producto.id})}">Eliminar</a>
				<p class="text-muted text-end lh-1" data-th-text=" 'ID: ' + ${producto.id}"></p>
			  </div>
			</div><br/>
		</div>
	</div>
</div>
<div data-th-replace="parts/scripts :: scripts"></div>
</main>
</body>
</html>